.bg-image-vertical {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 100%;
}

.logo {
    width: 100px;
    height: 100px
}

@media (min-width: 1025px) {
    .h-custom-2 {
        height: 100%;
    }
}